p{
    /* background: red; */
    cursor: pointer;
    width: 100%;
    height: 20vh;
    margin-bottom: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red{
    background: red;
}

.green{
    background: green;
}